:root {
    /* Various color variables */
    --tan: #E5D9B6;
    --darkTan: #a1987f;
    --lightGreen: #A4BE7B;
    --midGreen: #5F8D4E;
    --darkGreen: #285430;
    --grey: #d5d5d5;

    /* Font variables*/
    --font-family:'Helvetica', 'Arial', 'Sans-Serif';
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
}

/* Main body styling */
html, body {
    margin: 30px auto;
    width: 70%;
    background-color: var(--tan);
}

nav {
    margin: 0%;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1; /* keeps the nav bar ontop of other elements */
    display: flex;
    box-shadow: 0 3px 5px var(--darkTan);

}

/* Unordered list styling */
nav ul, footer ul {
    font-family: var(--font-family);
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

/* Unordered list item styling, nav bar only */
nav ul li {
    display: inline-block;
    margin-right: 10px;
    height: auto;
    border-radius: 3px;

}

/* Styling for hovering over nav bar links */
nav a:hover {
    background-color: var(--darkTan);
}

nav a {
    color: var(--darkGreen);
}

/* Footer ul list item styling */
footer ul li {
    display: inline;
    margin-right: 20px;

}

/* Hypelink styling */
a {
    text-decoration: none;
    color: #999;
}

/* Link hover styling */
a:hover {
    color: var(--darkGreen);
    text-decoration-color: var(--darkGreen);
    text-decoration: underline;
}

/* Hearder 1-3 styling */
h1, h2, h3 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/* Paragraph styling */
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/* Footer styling */
footer {
    border-top: 1px solid var(--darkGreen);
    font-size: .8em;
}

/*  */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

/*  */
ul.posts li {
    list-style: none;
}
