<section class="skills" id="skills">
    <h2 class="skill-header">My Skills</h2>
    <div class="skills-wrapper">
        <div class="first-set animate__animated animate__pulse">
            <img src="assets/icons/icons8-html-5.svg" alt="html5" loading="lazy" class="icon icon-card" />
            <img src="assets/icons/icons8-css3.svg" alt="css3" loading="lazy" class="icon icon-card" />
            <img src="assets/icons/icons8-java.svg" alt="java" loading="lazy" class="icon icon-card" />
        </div>
        <div class="second-set animate__animated animate__pulse">
            <img src="assets/icons/icons8-matlab.svg" alt="matlab" loading="lazy" class="icon icon-card" />
            <img src="assets/icons/icons8-solidworks.svg" alt="SolidWorks" loading="lazy" class="icon icon-card" />
        </div>
    </div>
</section>