<section class="skills" id="skills">
    <h2 class="skill-header">My Skills</h2>
    <div class="skills-wrapper">
        <div class="first-set animate__animated animate__pulse">
            <a href="https://en.wikipedia.org/wiki/HTML5" target="_blank" rel="noopener noreferrer">
                <button class="skills-link">
                    <img src="assets/icons/icons8-html-5.svg" alt="html5" loading="lazy" class="icon icon-card" />
                </button>
            </a>
            <a href="https://en.wikipedia.org/wiki/CSS" target="_blank" rel="noopener noreferrer">
                <button class="skills-link">
                    <img src="assets/icons/icons8-css3.svg" alt="css3" loading="lazy" class="icon icon-card" />
                </button>
            </a>
            <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank"
                rel="noopener noreferrer">
                <button class="skills-link">
                    <img src="assets/icons/icons8-java.svg" alt="java" loading="lazy" class="icon icon-card" />
                </button>
            </a>
        </div>
        <div class="second-set animate__animated animate__pulse">
            <a href="https://en.wikipedia.org/wiki/MATLAB" target="_blank" rel="noopener noreferrer">
                <button class="skills-link">
                    <img src="assets/icons/icons8-matlab.svg" alt="matlab" loading="lazy" class="icon icon-card" />
                </button>
            </a>
            <a href="https://en.wikipedia.org/wiki/SolidWorks" target="_blank" rel="noopener noreferrer">
                <button class="skills-link">
                    <img src="assets/icons/icons8-solidworks.svg" alt="SolidWorks" loading="lazy"
                        class="icon icon-card" />
                </button>
            </a>
        </div>
    </div>
</section>