<section class="skills" id="skills">
    <h2 class="skill-header">My Skills</h2>
    <div class="skills-wrapper">
        <div class="first-set animate__animated animate__pulse">
            <img src="https://img.icons8.com/color/48/null/html-5--v1.png" alt="html5" loading="lazy"
                class="icon icon-card" />
            <img src="https://img.icons8.com/color/48/null/css3.png" alt="css3" loading="lazy" class="icon icon-card" />
            <img src="https://img.icons8.com/color/48/null/java-coffee-cup-logo--v1.png" alt="java" loading="lazy"
                class="icon icon-card" />
        </div>
        <div class="second-set animate__animated animate__pulse">
            <img src="https://img.icons8.com/fluency/48/null/matlab.png" alt="matlab" loading="lazy"
                class="icon icon-card" />
            <img src="https://img.icons8.com/color/48/null/solidworks.png" alt="SolidWorks" loading="lazy"
                class="icon icon-card" />
        </div>
    </div>
</section>