<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <!-- Link to the styling sheet -->
        <link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<!--<li><a href="/cv">CV</a></li>-->
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

    		{{ content }}

		</div><!-- /.container -->
		<footer>
            <h3>Contact Me</h3>
    		<ul>
        		<li><a href="mailto:rbjoncas@ncsu.edu">Email me!</a></li>
                <li><a href="https://www.linkedin.com/in/riley-joncas/">LinkedIn</a></li>
        		<li><a href="https://github.com/Symplexity">github.com/Symplexity</a></li>
			</ul>
		</footer>
	</body>
</html>
